PORT=5000
NODE_ENV=development

# Local PostgreSQL Database
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/ticketing_db?schema=public"

# JWT Authentication
JWT_SECRET="your_jwt_secret_key_change_in_prod"
JWT_EXPIRES_IN="30d"
COOKIE_NAME="rts_auth"
JWT_ACCESS_SECRET="your_jwt_access_secret_key_change_in_prod"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key_change_in_prod"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Redis Configuration
REDIS_URL="redis://192.168.31.99:6379"
REDIS_PASSWORD="rtgRedisdev123"

# Nodemailer / SMTP Configuration
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="noreply@example.com"

# Local File Uploads
UPLOAD_DIR="./uploads"

# CORS Origin
CORS_ORIGIN="http://localhost:5173"
